@import "tailwindcss";

:root {
  --background: #faf7f2;
  --foreground: #2e3416;

  --card: #ffffff;
  --border: #e8e2d8;

  --primary: #2e3416;
  --primary-hover: #475226;

  --accent: #c97a17;
  --accent-hover: #b16c12;

  --muted: #6b6b5e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
.logo-font {
  font-family: var(--font-playfair);
}